body{
    margin: 0;
    padding: 0;

    background-color:aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    padding: 15px;
    background-color: rgb(169, 203, 232);
}

.titulo-css {
    color:aliceblue;
}

#link-header{
    text-decoration: none;
    color: aliceblue;
}

#link-header:hover {
    color: rgb(34, 59, 81);
}

main {
    padding: 20px;

}

img {
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
}

footer{
    padding: 15px;
    background-color: rgb(169, 203, 232);

}

#link-footer{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#link-footer:hover {
    color: rgb(19, 74, 122);
}